/*====  RESET ============================ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

/*====  BASE ============================ */
html {
    scroll-behavior: smooth;
}

body {
    font: 400 1rem "DM Sans", sans-serif;
    color: hsl(0 0% 46%);
    background: hsl(0 0% 98%);
}

.title {
    font: 700 1.875rem "Poppins", sans-serif;
    color: hsl(159 41% 10%);
}

.menu-title {
    font: 500 1.2rem "Poppins", sans-serif;
    color: #0F241D;
}

.button {
    background-color: #72A603;
    color: hsl(0 0% 98%);
    height: 3.5rem;
    display: inline-flex;
    align-items: center;
    padding: 0 2rem;
    border-radius: .25rem;
    font: 500 1rem "DM Sans", sans-serif;
    transition: background .3s;
}

.button:hover {
    background: #97BF04;
}

/*====  LAYOUT ============================ */
.container {
    margin-left: 7.6rem;
    margin-right: 7.6rem;
}

.grid {
    display: grid;
    gap: 2rem;
}

.section {
    padding: 9.5rem;
}

.section .title {
    margin-bottom: 1rem;
}

/* ? */
.section header {
    margin-bottom: 4rem;  
}

#header {
    border-bottom: 1px solid #e4e4e4;
    margin-bottom: 2rem;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: hsl(0 0% 98%);
    width: 100%;
}

/*====  LOGO ============================ */
.logo {
    font: 700 2rem "Poppins", sans-serif;
    color: hsl(159 41% 10%);
}

span {
    color: #72A603;
}

/*====  NAVIGATION ============================ */
nav {
    height: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

nav ul li {
    display: inline-flex;
}

nav ul li a {
    margin-right: 2rem;
    transition: color .3s;
    position: relative;
}

nav ul li a:hover,
nav ul li a.active {
    color: #72A603;
}

nav ul li a::after {
    content: "";
    width: 0%;
    height: 2px;
    background: #72A603;
    position: absolute;
    left: 0;
    bottom: -1.5rem;
    transition: width .3s;
}

nav ul li a:hover::after,
nav ul li a.active::after{
    width: 100%;
}

/*====  HOME ============================ */
