/*====  RESET ============================ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #72A603;
}

img {
    width: 100%;
    height: auto;
}

/*====  BASE ============================ */
html {
    scroll-behavior: smooth;
}

body {
    font: 400 1rem "DM Sans", sans-serif;
    color: #767676;
    background: #FFFFFF;
}

.title {
    font: 700 2rem "Poppins", sans-serif;
    color: hsl(159 41% 10%);
}

.menu-title {
    font: 500 1.2rem "Poppins", sans-serif;
    color: #0F241D;
}

.button {
    background-color: #72A603;
    color: #FFFFFF;
    height: 3.5rem;
    display: inline-flex;
    align-items: center;
    padding: 0 2rem;
    border-radius: .25rem;
    font: 500 1rem "DM Sans", sans-serif;
    transition: background .3s;
}

.button:hover {
    background: #97BF04;
}

/*====  LAYOUT ============================ */
.container {
    margin-left: 7.6rem;
    margin-right: 7.6rem;
}

.grid {
    display: grid;
    gap: 2rem;
}

main .section {
    padding: 9.5rem 7.6rem;
}

.section .title {
    margin-bottom: 1rem;
}

#header {
    border-bottom: 1px solid #e4e4e4;
    margin-bottom: 2rem;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: #FFFFFF;
    width: 100%;
}

/*====  LOGO ============================ */
.logo {
    font: 700 2rem "Poppins", sans-serif;
    color: #0F241D;
}

span {
    color: #72A603;
}

/*====  NAVIGATION ============================ */
nav {
    height: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

nav ul li {
    display: inline-flex;
}

nav ul li a {
    margin-right: 2rem;
    transition: color .3s;
    position: relative;
}

nav ul li a:hover {
    color: #72A603;
}

nav ul li a::after {
    content: "";
    width: 0%;
    height: 2px;
    background: #72A603;
    position: absolute;
    left: 0;
    bottom: -1.5rem;
    transition: width .3s;
}

nav ul li a:hover::after {
    width: 100%;
}

/*====  HOME ============================ */
#home {
    background: #F2F2F2;
}

#home .container {
    margin: 0;
    display: flex;
    align-items: center;
}

#home .image {
    margin-left: 0;
    margin-right: 7rem;
}

#home .text h2 {
    margin-bottom: 3rem;
}

#home .text {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    text-align: center;
}

#home .button{
    margin-top: 3rem;
}

/*====  ABOUT ============================ */
#about {
    background: #FFFFFF;
}

#about .container {
    margin: 0;
    display: flex;
    align-items: center;
}

#about .text h2 {
    margin-bottom: 3rem;
}

#about .text {
    margin-right: 3rem;
    width: 42rem;
}

/*====  PROPOSALS ============================ */
#proposals {
    background: #F2F2F2;
}

#proposals .container {
    margin: 0;
}

#proposals h2{
    text-align: center;
    margin-bottom: 5rem;
}

#proposals .proposals {
    display: flex;
    justify-content: space-around;
}

#proposals .proposal {
    background: #FFFFFF;
    height: 27rem;
    width: 25rem;
    border-bottom: 0.25rem solid #72A603;
}

#proposals .icon {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

#proposals img {
    width: 6rem;
}

#proposals .text {
    padding: 3rem;
    text-align: center;
    margin-top: 3rem;
}

/*====  CONTACT ============================ */
#contact {
    background: #FFFFFF;
    height: 43rem;
}

#contact .container {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#contact ul li {
    display: flex;
    align-items: center;
}

#contact .text {
    width: 25rem;
}

#contact h2 {
    margin-bottom: 3rem;
}

#contact img {
    width: 1.875rem;
    height: 1.875rem;
    margin-right: 2rem;
}

/*====  FOOTER ============================ */
footer {
    background: #81A649;
    padding: 5rem 7.6rem 5rem 7.6rem;
}

footer .container {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer span {
    color: #F2F2F2;
}

.brand {
    color: #F2F2F2;
}

.social {
    display: flex;
}

.social img {
    width: 1.875rem;
}